body{
  display : inline-block;
}
 .sugoroku-list {
   overflow-x: auto;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
}
.sugoroku-list{
  margin-left: 350px
}

 .item {
   display : inline-block;
   width: 28px;

   /* 見た目調整 */
   height: 20px;
   margin: 5px;
   font-size: 10px;
   background: rgba(255, 0, 0, 0.4);

 }

 .diceform {
overflow: scroll;
 }
